@model IEnumerable<OneStopRentals.Models.Maintenance.MaintenanceListItem>

@{
    ViewBag.Title = "Index";
}

<h2 style="color:forestgreen;">Maintenance Tickets</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr style="background-color:forestgreen; color:black">
        <th>
            @Html.DisplayNameFor(model => model.MaintenanceID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Category)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Active)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Permission)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PropertyID)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
       
    <tr style="color:black; background-color:floralwhite">
        <td>
            @Html.DisplayFor(modelItem => item.MaintenanceID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Category)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Active)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Permission)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PropertyID)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.MaintenanceID }) |
            @Html.ActionLink("Details", "Details", new { id=item.MaintenanceID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.MaintenanceID })
        </td>
    </tr>
}

</table>


<style>



</style>
