@model OneStopRentals.Models.POS.POSDetail

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>POSDetail</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.POSID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.POSID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CardCarrier)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CardCarrier)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CardNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CardNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CardDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CardDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CardCV)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CardCV)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AutoPay)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AutoPay)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
