@model IEnumerable<OneStopRentals.Models.POS.POSListItem>

@{
    ViewBag.Title = "Index";
}

<h2 style="color:forestgreen;"> Payments</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr style="background-color:forestgreen; color:black">
        <th>
            @Html.DisplayNameFor(model => model.POSID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CardCarrier)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CardNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CardDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CardCV)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AutoPay)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PropertyID)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr style="color:black; background-color:floralwhite">
        <td>
            @Html.DisplayFor(modelItem => item.POSID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CardCarrier)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CardNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CardDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CardCV)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AutoPay)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PropertyID)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.POSID }) |
            @Html.ActionLink("Details", "Details", new { id=item.POSID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.POSID })
        </td>
    </tr>
}

</table>
